<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700&amp;display=swap">
    <link rel="stylesheet" href="static/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-1 novi-bg novi-bg-img" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="#"><img class="brand-logo-dark" src="static/images/cyber.png" alt="" width="128" height="55"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/index">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About</a>
                      </li>
                      
                    </ul>
                  </div>
                  <div class="rd-navbar-collapse"><a class="button button-primary button-nuka" href="/login">Signout<span class="button-overlay"></span></a></div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-inset-7 section-inset-17 bg-default position-relative novi-bg novi-bg-img">
        <svg class="wave-primary" width="1920" height="761" viewbox="0 0 1920 761" fill="none">
          <path class="wave-path wave-path-3" d="M1920 0C1868.64 28.7312 1767 105.232 1695.1 215.862C1605.14 354.271 1419.02 474.469 1280.98 388.267C1142.94 302.064 961.469 319.062 882.367 459.899C803.265 600.737 677.632 585.659 497.714 507.956C334.904 437.641 257.19 626.164 214 761H1920V0Z"></path>
          <path class="wave-path wave-path-2" d="M1920 287C1862.19 304.896 1747.81 352.545 1666.89 421.453C1565.65 507.663 1356.18 542.53 1200.82 488.838C1045.46 435.145 841.231 445.732 752.206 533.455C663.182 621.178 521.79 689.158 319.303 640.76C136.071 596.963 48.6073 677.016 0 761H1920V287Z"></path>
          <path class="wave-path wave-path-1" d="M0 761V673.062C17.2169 674.438 35.2639 676.42 54.1873 679.064C273.969 709.775 432 617.316 536.497 556.18C544.219 551.661 551.649 547.314 558.79 543.201C723.453 463.081 840.092 497.29 966.341 534.318C1005.86 545.91 1046.33 557.777 1089.5 566.5C1230.41 594.97 1308.84 548.102 1392.3 498.225C1416.11 484.002 1440.32 469.535 1466.5 456.5C1624.43 377.88 1748.84 433.944 1832.78 471.772C1870.02 488.554 1899.29 501.748 1920 498V761H0Z"></path>
        </svg>
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-lg-6 inset-xl-bottom-20">
              <h2 class="title-3 wow fadeInUp">Welcome to Dashboard</h2>
              
              <p class="big wow fadeInUp" data-wow-delay=".1s">Cyberbulling detection in social networks: A comparison between ML& Transfer learning approaches</p>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp"><img src="static/images/course-1-527x453.png.png" alt="" width="527" height="453"/>
            </div>
          </div>
        </div>
      </section>
      
      <!-- About the course-->
      <section class="section section-inset-2 section-inset-3 bg-default novi-bg novi-bg-img" id="about">
        <div class="container">
          <div class="row row-20">
     
                
               
				  <p>Sample Outcome:</p> <br />
				  <img src="../static/download.png">
				  <br>
				  
				  <p>Accuracy Comparison:</p><br>
				  <img src="../static/download (1).png">
				  <br>
				  <p>Precision Comparison:
					<img src="../static/download (2).png">
				  </p>
          <br>
          <p>
            Recall Comparison:
            <br>
            <img src="../static/download (3).png">
            </p><br>
            <p>F1 Score Comparison:</p> <br />
            <img src="../static/download (4).png">
            <br>
            
            <p>G-Mean Comparison:</p><br>
            <img src="../static/download (5).png">
            <br>
            <p>AUC Comparison:
            <img src="../static/download (6).png">
            </p>
            <br>
            
            </div>
            
          </div>
        </div>
      </section>
      <!-- Footer-->
      <footer class="section footer-default section-inset-2 section-inset-6 bg-default text-center text-sm-left novi-bg novi-bg-img">
        <div class="container wow fadeInUp">
          <div class="row row-20 align-items-center justify-content-center justify-content-sm-between">
            <div class="col-auto">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>Lintense</span><span>.&nbsp;</span><span>All Rights Reserved</span></p>
            </div>
            <div class="col-auto">
              <ul class="list-social list-social-1">
                <li><a class="link-social icon novi-icon fa-youtube-play" href="#"></a></li>
                <li><a class="link-social icon novi-icon fa-facebook-f" href="#"></a></li>
                <li><a class="link-social icon novi-icon fa-instagram" href="#"></a></li>
                <li><a class="link-social icon novi-icon fa-twitter" href="#"></a></li>
                <li><a class="link-social icon novi-icon fa-linkedin" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
    <!-- coded by kraken|ragnar|houdini-->
  </body>
</html>